<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if current_page.title == 'Home' %}{{ site_title }}: {{ config.site_tagline }}{% else %}{% block head_title %}{% if meta.title %}{{ meta.title }} - {% endif %}{{ site_title }}{% endblock %}{% endif %}</title>

  {% if meta.description %}
    <meta name="description" content="{{ meta.description|striptags }}">
  {% endif %}
  {% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
  {% endif %}

  <link rel="stylesheet" href="{{ theme_url }}/css/global.css?v=2" type="text/css" />


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <a class="u-sr-only u-sr-only-focusable" href="#content">Skip to main content</a>

  <header class="container banner grid grid--1-1">
    <div class="sitehead">
      <h1 class="sitehead__title">
        {% if current_page.id == 'index' %}
          {{ site_title }}
        {% else %}
          <a href="/">{{ site_title }}</a>
        {% endif %}
      </h1>
      <p class="sitehead__tagline">{{ config.site_tagline }}</p>
    </div>

    <nav class="nav u-align-right">
      <ul class="nav__inner">
        {% for page in config.nav_pages if page.title %}
          <li class="nav__item">
            {% if page.title == current_page.title %}
              {{ page.title }}
            {% else %}
              <a href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main id="content" class="container">
    {% block content %}
      {% if current_page.title != 'Home' %}
        <header class="pagehead">
          <h1 class="pagehead__title">{{ current_page.title }}</h1>
        </header>
      {% endif %}
      {{ content }}
    {% endblock content %}
  </main>

  <footer class="container footer grid grid--1-1">
    <p>
      Well-Formed Limited.<br>
      Registered in England and Wales.<br>
      Company number: 09140877.
    </p>
    <p class="u-align-right">
      Email: <a href="mailto:contact@well-formed.co.uk">contact@well-formed.co.uk</a>
    </p>
  </footer>

</body>
</html>
